# VIs
# Projet file

Es braucht ein txt datei ,die Ergebnisse zu Speichern . 
Es wird auch während des Programm zugreifen. Bitte die txt datei lieber Projekt Verzeichnis  zu erstellen. 

**ohne txt Datei wird das Program gar könnte ihr nicht laufen bringen.**
